
.filters{
  display: flex;
  flex-wrap: wrap;
  margin-top:5%;
  margin-left: 5%;
  justify-content: space-between;
  
}

@media screen and (max-width:780px){
  .filters{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top:5%;
    margin-left: 5%;
    flex-direction: column;
    
  }
}

#rating{
  width:25%;
}

.container{
  background-color: #081229;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.products{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: center;

}

input{
  padding: 2px;
  margin: 5px;
  padding: 2px;
 

}

label{
  margin: 5px;
  font-weight: 500;
  font-family: sans-serif;
  color: #ec5990;
}

.proc{
  width: 150px;
  margin: 10px;
  padding: 10px;
  line-height: 25px;
  border-radius: 8px;
  border: 1px solid #999;
}
.proc:hover{
  width: 150px;
  margin: 10px;
  padding: 10px;
  line-height: 25px;
  float: center;
  border-radius: 4px;
  border: 1px solid #ec5990 ;
  box-shadow: 2px 2px 12px 0 white;

}

.image{
  background-size: cover;
  margin-left: 18%;
  
}

input{
  margin-top: 5%;
}

.title{
  text-align: left;
  font: 1.2em sans-serif;
  color: #ec5990;
  text-align: center;
}

.textbody{
  font: 1em sans-serif;
  color: white;
  text-align: center;
}

.heading{
  display: block;
  justify-content: space-between;
}

h3{
  justify-content: center;
}


